@model Ehebruch.Models.Account.LogViewModel
 
@{
    Layout = "~/Views/Shared/_LayoutBoot3.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Ввведите логин и пароль или зарегистрируйтесь</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-6 col-md-offset-1">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label"  })
        <div class="col-md-6 col-md-offset-1">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RememberMe, new { @class = "col-md-2 control-label" })
        <div class="col-md-6 col-md-offset-1 vcenter">
            @Html.CheckBoxFor(m => m.RememberMe)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3 vcenter">
            <input type="submit" class="btn btn-default col-md-5" value="Логин"/>
        </div>
    </div>
}  
 @using (Html.BeginForm("Register", "Account", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
 {
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3 vcenter">
            <input type="submit" class="btn btn-default col-md-5" value="Регистрация"/>
        </div>
    </div>
 }

        </div>
    </div>
