@model Ehebruch.Models.Account.UserProfile
 
@{
    Layout = "~/Views/Shared/_LayoutBoot3.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <h4>Заполните свой профиль</h4>
            <hr />
            @Html.ValidationSummary()

            <div class="form-group">
                <div class="col-md-3">
                    <input type="file" id="error" name="error"  />
                </div>
                <div class="col-md-9">
                    @Html.LabelFor(m => m.About, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.About, new {@class = "form-control" }) 
                    <br>
                    @Html.LabelFor(m => m.MyIdeal, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.MyIdeal, new {@class = "form-control" }) 
                </div>
            </div>
            
            
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.CountryId, new { @class = "col-md-2 control-label" })
                    @Html.DropDownListFor(m => m.CountryId, ViewBag.Country as SelectList, new { id = "country", @class = "col-md-2 form-control" })
                </div>  
                <div class="col-md-4">
                    @Html.LabelFor(m => m.RegionId, new { @class = "col-md-2 control-label" })
                    @Html.DropDownListFor(m => m.RegionId, ViewBag.Region as SelectList, new { id = "region", @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.CityId, new { @class = "col-md-2 control-label" })
                    @Html.DropDownListFor(m => m.CityId, ViewBag.City as SelectList, new { id = "sity", @class = "form-control" })
                </div>
            </div>
   
            
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.sex, new { @class = "col-md-2 control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(model => model.sex, new[]   { new SelectListItem() { Text = "Мужской", Value = "true" }, 
                        new SelectListItem() { Text = "Женский", Value = "false" }}, new { @class = "form-control" })  
                    </div>                   
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.height, new { @class = "col-md-2 control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(model => model.height,
                        new SelectList(
                            Enumerable.Range(150, 250).Select(x => new { Value = x, Text = x }),
                            "Value",
                            "Text"),
                        new { @class = "form-control" })  
                    </div>                          
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.weight, new { @class = "col-md-1 control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(model => model.weight,
                        new SelectList(
                            Enumerable.Range(50, 150).Select(x => new { Value = x, Text = x }),
                            "Value",
                            "Text"),
                        new { @class = "form-control" })  
                    </div>                          
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Age, new { @class = "col-md-1 control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(model => model.Age,
                        new SelectList(
                            Enumerable.Range(18, 100).Select(x => new { Value = x, Text = x }),
                            "Value",
                            "Text"),
                        new { @class = "form-control" })  
                    </div>                          
                </div>
            </div>  

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.FigureId, new { @class = "col-md-2 control-label" })
                    @Html.DropDownList("FigureId", ViewBag.Figure as SelectList, "Выберите", new { id = "FigureId", @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.AlcoholId, new { @class = "col-md-2 control-label" })
                    @Html.DropDownList("AlcoholId", ViewBag.Alcohol as SelectList, "Выберите", new { id = "AlcoholId", @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.SmokingId, new { @class = "col-md-2 control-label" })
                    @Html.DropDownList("SmokingId", ViewBag.Smoking as SelectList, "Выберите", new { id = "SmokingId", @class = "form-control" })
                </div>
            </div>            
            
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.wish, new { @class = "col-md-2 control-label" })
                    <br>
                    <div class="checkbox">
                         @foreach (KeyValuePair<string, short> c in ViewBag.wishe)
                         {
                                    <input type="checkbox" name="selectedwishes" value="@c.Value"/>@c.Key <br />
                         }                    
                    </div>
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(m => m.Languages, new { @class = "col-md-2 control-label" })
                    <br>
                    <div class="checkbox">
                         @foreach (KeyValuePair<string, int> c in ViewBag.LangList)
                         {
                                    <input type="checkbox" name="selectedlang" value="@c.Value" />@c.Key <br />
                         }                    
                    </div>
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(m => m.Excitements, new { @class = "control-label" })
                    <br>
                    <div class="checkbox">
                         @foreach (KeyValuePair<string, int> c in ViewBag.ExcitList)
                         {
                                    <input type="checkbox" name="selectedexcit" value="@c.Value"/>@c.Key <br />
                         }                    
                    </div>
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(m => m.Whatpartners, new { @class = "control-label" })
                    <br>
                    <div class="checkbox">
                         @foreach (KeyValuePair<string, int> c in ViewBag.Whatpart)
                         {
                                    <input type="checkbox" name="selectedwhatpart" value="@c.Value"/>@c.Key <br />
                         }                    
                    </div>
                </div>
                
            </div>  
            
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-default" value="Сохранить" />
                </div>
            </div>                           
            
            
        }


    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(function () {

        $('#country').change(function ()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetRegion")/' + id,
                success: function (data) {
                     
                    // заменяем содержимое присланным частичным представлением
                    $('#region').replaceWith(data);
                }
            });
        });

        $('#region').change(function () {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCity")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#sity').replaceWith(data);
                }
            });
        })
    })
</script>
}
