@model Ehebruch.Models.Account.UserProfile
 
@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/scripts/jquery-1.7.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <title>Профиль</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

     
    <h2>Профиль</h2>
    <p>Заполните свой профиль</p>
     
   @using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
   {
        
     
        <fieldset>
            <legend>Создание профиля</legend>
     
            <div class="editor-label">
                @Html.LabelFor(model => model.country)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.country)
                @Html.ValidationMessageFor(model => model.country)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.region)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.region)
                @Html.ValidationMessageFor(model => model.region)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.sity)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.sity)
                @Html.ValidationMessageFor(model => model.sity)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.dateOfBirthday)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dateOfBirthday)
                @Html.ValidationMessageFor(model => model.dateOfBirthday)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.wish)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.wish)
                @Html.ValidationMessageFor(model => model.wish)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.weight)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.weight)
                @Html.ValidationMessageFor(model => model.weight)
            </div>
     
            <div class="editor-label">
                @Html.LabelFor(model => model.height)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.height)
                @Html.ValidationMessageFor(model => model.height)
            </div>
           
            <div class="editor-label">
                @Html.LabelFor(model => model.sex)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.sex)
                @Html.ValidationMessageFor(model => model.sex)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AvatarPath)
            </div>
            <div class="editor-field">
               <input type="file" id="error" name="error" />
            </div>
            <p>
                
                <input type="submit" value="Создать профиль" />
            </p>
        </fieldset>
    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
