@model UserProfile
@using Ehebruch.Models.Account

<br />

@if (Model.Fotoes != null && Model.Fotoes.Count() > 0)
{
    <p>Всего фотографий: @(Model.Fotoes.Count<UserFoto>())</p>

    foreach (UserFoto item in Model.Fotoes)
    {
        string path = "../../Files/" + @item.Path;
        <div>
            <div class="row">
                <div class="col-md-4">
                    <img src="@path" class="img-responsive" /></div>
                <br />
                <label class="col-md-4 control-label ">@item.Descript</label>

                <div class="col-md-4">
                    @using (Ajax.BeginForm("DeleteFoto", new object { }, new AjaxOptions { UpdateTargetId = "results" }, new {role = "form"}))
                    {
                        @Html.Hidden("fotoid", item.Id)
                        <input type="submit" value="Удалить" />
                    }
                </div>
            </div>
        </div>
        <br />    
    }
}