@model IEnumerable<Ehebruch.Models.Dialog>

@{
    Layout = "~/Views/Shared/_LayoutBoot3.cshtml";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <h3>Сообщения</h3>
        </div>
        <table class="table table-hover">

            @foreach (var item in Model)
            {
                string path = "../../Files/" + @item.AvatarPath;
                <tr>
                    <td>
                        <img src="@path" class="img-responsive" style="width: 64px; height: 64px;" />
                    </td>
                    <td>
                        @Html.ActionLink(@item.nic, "Index", "Profile", new { id = @item.IdPerson}, null)
                    </td>
                    <td>@Html.ActionLink("Сообщение - " + @item.TextMessage, "Index", new { id=@item.IdPerson });
                    </td>
                </tr>                                
            }

        </table>
    </div>
</div>




