@model IEnumerable<Ehebruch.Models.Message>

@{
    ViewBag.Title = "Сообщения";
    Layout = "~/Views/Shared/_LayoutBoot3.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <h3>Сообщения</h3>
        </div>
        <table class="table table-hover">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.SenderId - @item.RecipientId
                    </td>
                    <td>
                        @item.CreatedTime
                    </td>
                    <td>@item.TextMessage
                    </td>
                </tr>                                
            }

        </table>
        <div class="row">
            @using (Html.BeginForm("Index", "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <input type="hidden" value="@ViewBag.rec.Id" name="SenderId" />
                <input type="hidden" value="@ViewBag.userwith.Id" name="RecipientId" />
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="TextMessage"></textarea>
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Отправить" />
                </div>                
            }
        </div>
    </div>
</div>
