<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../../Files/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link  type="text/css" rel="stylesheet" href="../../Content/Site.css" />

    <title>Ehebruch</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

  </head>
<body style="height: 100%">

    <div class="container" style="height: 100%">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ehebruch</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              @if (@ViewContext.HttpContext.User.Identity.IsAuthenticated)
                   {
                        <li class="dropdown">
                        <a href="/Profile" class="dropdown-toggle" data-toggle="dropdown">Ваш профиль<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="/Profile">Просмотреть</a></li>
                              <li><a href="/Profile/Edit">Редактировать</a></li>
                              <li><a href="/Profile/AddFoto">Добавить фото</a></li>
                            </ul>
                        </li>
                   }
                
              
              <li>@Html.ActionLink("Поиск", "Index", "Search")</li>
<!--                          
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
-->                
                <li>@Html.ActionLink("Сообщения", "Im", "Message")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Меню</a></li>
                
                @if (@ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Вы - " + @ViewContext.HttpContext.User.Identity.Name, "Index", "Profile")</li>
                }
                            
              
              <li> @if (@ViewContext.HttpContext.User.Identity.IsAuthenticated)
                   {
                        @Html.ActionLink("Выход", "LogOff", "Account")
                   }
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div style="min-height:100%; height:100%">
        @RenderBody()
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    @Scripts.Render("~/scripts/jquery.validate.min.js")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script data-require="angular.js@1.4.3" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular.js"></script>
    @RenderSection("Scripts", required: false)

  </body>
</html>




